body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

#calculator {
  margin: 80px auto;
  max-width: 375px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px auto;
  grid-gap: 10px;
}

#calculator div {
  min-height: 75px;
  text-align: 75px;
  vertical-align: middle;
  line-height: 75px;
  border-radius: 5px;
}

#calc-display, #calc-display-mini {
  grid-column: 1 / span 4;
  font-family: monospace;
  font-weight: bold;
  font-stretch: condensed;
  text-align: right;
  color: #000;
  background-color: #f2f2f2;
}

#calc-display-mini {
  font-size: 1em;
}

#calc-display {
  font-size: 2.2em;
  border: 5px solid #666;
}

#calculator .row-2 {
  grid-row: span 2;
}

.calc-btn {
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: gray;
  cursor: default;
}

.btn-numpad, .btn-comma {
  background-color: #000;
}

.btn-operator {
  background-color: #e63900;
}

.btn-misc {
  background-color: #ffcc00;
}
